:root {
  --light: #ebefe5;
  --past: #52796f;
  --present: #79a583;
  --future: #a9d1b2;
  --dark: #341c1c;
  --deep: #354f52;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: var(--light);
  color: var(--dark);
}


header {
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

header > p {
  margin: 20px 0px;
}

.palette {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
}

img {
  width: 26px;
  border: 1.5px solid var(--dark);
  border-radius: 50%;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--dark);
  border-left: 1px solid var(--deep);
  padding: 10px;
  /* font-size: ; */
}

.description {
  white-space: pre-wrap;
  font-size: 18px;
}

.hourly {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--light);
}

.hour {
  background-color: var(--deep);
  color: var(--light);
  border-top: 1px solid var(--deep);
}

.past {
  background-color: var(--past);
  color: var(--dark);
}

.present {
  background-color: var(--present);
  color: var(--dark);
}

.future {
  background-color: var(--future);
  color: var(--dark);
}

.saveBtn {
  border-left: 1px solid var(--light);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--deep);
  color: var(--light);
  font-size: 20px;
}

.saveBtn:hover {
  color: var(--present);
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.clear {
  text-align: center;
}

.clearBtn {
  margin: 20px 0;
  padding: 10px;
  border: 2px solid var(--dark);
  border-radius: 15px;
  background-color: var(--deep);
  color: var(--light);
  transition: all .3s ease-in-out;
}

.clearBtn:hover {
  padding: 14px;
  transform: scale(1.1); 
}

